
* {
	padding: 0px;
	margin: 0px;
	font-family: "helvetica neue", helvetica, sans-serif;
	font-weight: bold;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

div, span, a {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

::-webkit-scrollbar {
    width: 12px;
}
::-webkit-scrollbar-track {
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(20,20,20,0.8); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(20,20,20,0.4); 
}



body {
	background-color: #222;
	color: white;
	overflow: hidden;
}

#templates {
	display: none;
}

.card {
	position: relative;
	float: left;
	width: 150px;
	height: 200px;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	text-align: left;
}

.card .front, .card .back {
	padding: 15px;
}

.card .front {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 900;
	width: inherit;
	height: inherit;

	font-size: 13px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	-moz-box-shadow: -1px 1px 6px rgba(0,0,0,0.9);
	-webkit-box-shadow: -1px 1px 6px rgba(0,0,0,0.9);
	box-shadow: -1px 1px 6px rgba(0,0,0,0.9);

	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

	-moz-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;

	/* -- transition is the magic sauce for animation -- */
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.card.hidden .front {
	z-index: 900;

	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	
	-moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
	box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}
.card .front .logo {
	position: absolute;
	background-position: bottom left;
	background-repeat: no-repeat;
	bottom: 6px;
	left: 5px;
	right: 50px;
	height: 15px;
	font-size: 5px;
	padding-left: 26px;
	line-height: 18px;
    white-space: nowrap;
	overflow: hidden;

}
.card.white .front .logo {
	background-image: url('wf.png');
}
.card.black .front .logo {
	background-image: url('bf.png');
}
.card .front .pick2 {
	position: absolute;
	background-image: url('p2.png');
	background-position: bottom right;
	background-repeat: no-repeat;
	bottom: 5px;
	right: 5px;	
	width: 45px;
	height: 15px;
}

.card .back {
	float: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 800;
	width: inherit;
	height: inherit;
	
	font-size: 26px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;

	-webkit-transform: rotateY(-180deg);
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;

	-moz-transform: rotateY(-180deg);
	-moz-transform-style: preserve-3d;
	-moz-backface-visibility: hidden;

	/* -- transition is the magic sauce for animation -- */
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

.card.hidden .back {
	z-index: 1000;

	-webkit-transform: rotateX(0deg) rotateY(0deg);
	-moz-transform: rotateX(0deg) rotateY(0deg);

	box-shadow: 0 15px 50px rgba(0,0,0,0.2);
	-moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2);
}

.card.black .front, .card.black .back {
	border: solid #333 1px;
	background-color: black;
	color: white;
}

.card.white .front, .card.white .back {
	border: solid #aaa 1px;
	background-color: white;
	color: black;	
}

.card.white {
	-o-transform-origin: 50% 0%;
	-webkit-transform-origin: 50% 0%;
	-moz-transform-origin: 50% 0%;
	transform-origin: 50% 0%;
	-o-transform: scale(0.75) rotate(-3deg);
	-webkit-transform: scale(0.75) rotate(-3deg);
	-moz-transform: scale(0.75) rotate(-3deg);
	transform: scale(0.75) rotate(-3deg);
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	cursor: hand;
	margin-top: 10px;
	margin-right: -60px;
	z-index: 0;
}

.card.white:hover, .card.white.expand {
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
	margin-top: 10px;
}
.card.white.expand {
	z-index: 1000;
	margin-right: 0px;
	margin-top: 20px;
}
.card.white:hover {
	z-index: 2000;
}

.selectable .card.white:hover .front {
	-moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2), 0 0 20px rgba(255,130,0,0.7);
	-webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2), 0 0 20px rgba(255,130,0,0.7);
	box-shadow: 0 15px 50px rgba(0,0,0,0.2), 0 0 20px rgba(255,130,0,0.7);	
}
.card.white.expand .front,
.card.white.expand:hover .front {
	-moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2), 0 0 20px rgba(255,0,0,0.7);
	-webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2), 0 0 20px rgba(255,0,0,0.7);
	box-shadow: 0 15px 50px rgba(0,0,0,0.2), 0 0 20px rgba(255,0,0,0.7);	
}

#handtext {
	position: absolute;
	height: 200px;
	top: 0px;
	left: 10px;
	right: 10px;
	overflow: hidden;

	text-align: center;
	line-height: 190px;
	font-size: 50px;
	color: #333;
}
#hand {
	position: absolute;
	height: 200px;
	top: 0px;
	left: 10px;
    white-space: nowrap;
	overflow: visible;
	width: 100%;
	margin-left: -10%;
}
#hand.disabled .front {
	color: #777;
}

#hand .card {
	display: inline-block;
    white-space: normal;
	margin-right: -160px;
	margin-left: 10%;
}

#questionq {
	position: absolute;
	left: 15px;
	top: 190px;
	height: 270px;
	width: 170px;
	text-align: center;
	line-height: 200px;
	font-size: 200px;
	color: #333;
}
#question {
	position: absolute;
	left: 15px;
	top: 190px;
	height: 270px;
	width: 170px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: solid #333 1px;
}
#question .card {
	position: absolute;
	top: 10px;
	left: 10px;
}
#question .czar {
	position: absolute;
	width: 100%;
	height: 30px;
	bottom: 0px;
	text-align: center;
}

#table {
	position: absolute;
	top: 190px;
	height: 270px;
	left: 200px;
	right: 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	border: solid #333 1px;
    white-space: nowrap;
	padding-left: 5px;
}
#table .content {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
    white-space: nowrap;
	padding-left: 10px;
	overflow-x: auto;
	overflow-y: visible;
}
#table .info {
	font-size: 26px;
	text-align: center;
	position: absolute;
	bottom: 12px;
	left: 10px;
	right: 10px;
}
#table .play {
	position: relative;
	display: inline-block;
    white-space: nowrap;
	-o-transition: all .1s ease-in-out;
	-ms-transition: all .1s ease-in-out;
	-moz-transition: all .1s ease-in-out;
	-webkit-transition: all .1s ease-in-out;
	transition: all .1s ease-in-out;
	margin-right: 70px;
}
#table.selectable .play:hover .card.white .front {
	-moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2), 0 0 20px rgba(255,130,0,0.7);
	-webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2), 0 0 20px rgba(255,130,0,0.7);
	box-shadow: 0 15px 50px rgba(0,0,0,0.2), 0 0 20px rgba(255,130,0,0.7);	
}
#table .play.expand .card.white .front,
#table .play.expand:hover .card.white .front {
	-moz-box-shadow: 0 15px 50px rgba(0,0,0,0.2), 0 0 20px rgba(255,0,0,0.7);
	-webkit-box-shadow: 0 15px 50px rgba(0,0,0,0.2), 0 0 20px rgba(255,0,0,0.7);
	box-shadow: 0 15px 50px rgba(0,0,0,0.2), 0 0 20px rgba(255,0,0,0.7);	
}
#table .play:hover {
	margin-left: 0px;
	margin-right: -22px;
}
#table .play.expand:hover,
#table .play.expand {
	margin-left: 0px;
	margin-right: -22px;
}
#table .card {
	display: inline-block;
    white-space: normal;
	position: relative;
	float: left;
	margin-left: 0px;
	margin-right: -105px;
}
#table .play:hover .card.white,
#table .play.expand .card.white {
	-o-transform: scale(1);
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	transform: scale(1);
	margin-left: 0px;
	margin-right: -10px;
	z-index: 1000;
}
#table .play:hover .card.white {
	z-index: 2000;
}

#buttons {
	position: relative;
	top: 470px;
	bottom: 0px;
	width: 200px;
	left: 0px;
}

.copyright {
	padding-left: 12px;
	padding-right: 10px;
	font-size: 10px;
	font-weight: normal;
	color: white;
}
.copyright a, .copyright a:hover .copyright a:active, .copyright a:visited {
	color: #fa6;
	text-decoration: none;
}

#countDown {
	display: block;
	position: relative;
	color: white;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: solid 2px black;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;
	min-height: 45px;
	background-color: #000;
	-o-transition: background-color .3s ease-in-out;
	-ms-transition: background-color .3s ease-in-out;
	-moz-transition: background-color .3s ease-in-out;
	-webkit-transition: background-color .3s ease-in-out;
	transition: background-color .3s ease-in-out;
}
#countDown.warning {
	background-color: #a00;
}

a.button {
	min-height: 45px;
	display: block;
	position: relative;
	color: black;
	padding: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #d70;	
	border: solid 2px black;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
	margin-left: 10px;
	margin-right: 10px;

	opacity: 0.3;

	-moz-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 5px 10px rgba(0,0,0,0.2);
	box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
a.button.enabled {
	opacity: 1;
	cursor: hand;
}
a.button.enabled:hover {
	background-color: #f90;	
}
a.button.enabled:active {
	background-color: #f90;	
	-moz-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

#chatWindow {
	position: absolute;
	top: 470px;
	bottom: 5px;
	right: 0px;
	left: 200px;
}

#chatWindow .chat {
	padding: 10px;
	position: absolute;
	left: 0px;
	right: 205px;
	top: 0px;
	bottom: 40px;
	border: solid #333 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: black;
	color: #aaa;
	overflow: auto;
}

#chatWindow .chat .line {
	margin-bottom: 3px;
	vertical-align: top;
}
#chatWindow .chat .name {
	display: inline-block;
	font-weight: bold;
	min-width: 50px;
	vertical-align: top;
}
#chatWindow .chat .text {
	display: inline-block;
	font-weight: normal;
	vertical-align: top;
}
#chatWindow .chat .otherchat {
}
#chatWindow .chat .mychat {
	color: #ffa;
}
#chatWindow .chat .error {
	color: #f33;
}
#chatWindow .chat .info {
	color: #fa3;
}
#chatWindow .chat .game {
	color: #3f3;
}
#chatWindow .scores {
	padding: 10px;
	position: absolute;
	width: 190px;
	right: 10px;
	top: 0px;
	bottom: 40px;
	border: solid #333 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: black;
	color: #aaa;
	overflow: auto;
}
#chatWindow .scores .line {
	margin-bottom: 3px;
}
#chatWindow .scores .czar {
	color: #faa;
}
#chatWindow .scores .name {
	display: inline-block;
	left: 0;
	max-width: 80%;
	overflow: hidden;
}
#chatWindow .scores .spectator {
	color: #44a;
}

#chatWindow .scores .score {
	display: inline-block;
	float: right;
	text-align: right;
}
#chatWindow input {
	font-weight: normal;
	padding-left: 10px;
	position: absolute;
	border: solid #333 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: black;
	color: #aaa;
	left: 0px;
	width: 95%;
	bottom: 5px;
	height: 30px;
	line-height: 25px;
	font-size: 15px;
}


#screen {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

body.modal #screen {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

#modal {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background: rgba(0,0,0,0.5);
	display: none;
}

body.modal #modal {
	display: block;
}

#modal .dialog {
	display: none;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -200px;
	margin-left: -200px;
	width: 400px;
	border: solid #333 1px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	background: rgba(0,0,0,0.9);
}
#modal .title,
#modal .subtitle {
	margin: 3px;
	height: 45px;
	line-height: 40px;
	font-size: 27px;
	background-color: #333;
	color: white;
	font-weight: bold;
	text-align: center;
	border: solid #333 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
#modal .subtitle {
	height: 35px;
	line-height: 30px;
	font-size: 20px;
}
#modal .field {
	padding: 20px;
	left: 0px;
	right: 0px;
}
#modal .field input {	
	font-weight: normal;
	padding-left: 5px;
	border: solid #333 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: black;
	color: #aaa;
	height: 45px; 
	line-height: 40px;
	font-size: 25px;
	top: 0px;
	left: 0px;
	right: 0px;
	width: 90%;
}

#gameList {
	height: 100px;
	max-height: 300px;
	overflow: auto;
}
#gameList a.game,
#gameList .nogames,
#gameOptions label {
	display: block;
	font-weight: normal;
	padding-left: 10px;
	border: solid #333 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	background-color: #000;
	color: #aaa;
	line-height: 25px;
	font-size: 15px;
	margin: 5px;
	cursor: hand;
}
#gameOptions input[type=number] {
	font-weight: bold;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	border: solid #fa0 1px;
	background-color: #333;
	color: white;
	line-height: 20px;
	font-size: 13px;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: hand;
}
#gameList .nogames {
	text-align: center;
}

#gameOptions {
	min-height: 100px;
	max-height: 200px;
	overflow: auto;
	margin: 5px;
	border: solid #333 1px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#gameOptions input[type=checkbox] {
	display: none;
}
#gameOptions span {
	margin: 5px;
}

#gameList a.game:hover,
#gameOptions input[type=checkbox]:checked+label {
	border: solid #fa0 1px;
	background-color: #333;
	color: white;
}

